.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.portfolio {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 5px;
  padding: 10px;
  width: 100%;
  max-width: 900px;
}

.btn {
  background-color: white;
  color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 35px;
  border: 1px solid grey;
}

.btn_active {
  background-color: darkgrey;
  color: white;
}

.projectList {
  column-count: 3;
  padding: 10px;
  max-width: 900px;
  gap: 10px;
}

.foto {
  display: inline-block;
  max-width: 300px;
}
