.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.portfolio {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 5px;
  padding: 10px;
}

.btn {
  background-color: white;
  color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_active {
  background-color: darkgrey;
  color: white;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  max-width: 1000px;
  gap: 10px;
  
}

.foto {
  width: 33%;
  max-width: 300px;
}